[Desktop Entry]
Type=Application
Version=1.0
Name=AI Models
GenericName=Ollama Model Manager
Comment=Download, list and remove local Ollama models
Exec=zom models gui
Icon=zorin-ai-models
Categories=X-ZorinAI-LocalLLM;
Terminal=false
StartupNotify=true
Keywords=ollama;llm;models;ai;
